<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5SJF8DjXFVJdizlj__JKKL0xSHmUk_vw</string>
	<key>GCM_SENDER_ID</key>
	<string>778949766254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crudapp-76145</string>
	<key>STORAGE_BUCKET</key>
	<string>crudapp-76145.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778949766254:ios:7ebf460f26aa9601cdca7f</string>
</dict>
</plist>